## Building regression models for boston dataset

### Import Libraries

In [11]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets

### Load Boston dataset

In [12]:
boston = datasets.load_boston()

### Exploring the data

In [13]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [14]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [15]:
boston.data.shape

(506, 13)

In [16]:
print(boston.DESCR)

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [17]:
bostondf = pd.DataFrame(boston.data)
bostondf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
bostondf.columns = boston.feature_names

In [19]:
bostondf['PRICE']=boston.target

In [20]:
bostondf.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

### Splitting data into train and test

In [ ]:
# from sklearn.model_selection import ...
# Xtrain, Xtest, ytrain, ytest = ...(boston.data, boston.target, random_state=2)
# print(Xtrain.shape, Xtest.shape)

### LinearRegression with default hyperparameters

#### Fit a model on train

In [ ]:
# from sklearn.linear_model import ...
# lr = ...
# lr

In [ ]:
# lr.fit(...)

In [2]:
# lr.intercept_

In [3]:
# lr.coef_

#### Print the model score (R^2) on train and test

In [ ]:
# print('train R^2', lr.score(...))
# print('test R^2', lr.score(...))

#### Predict on test, print MAE and MSE on test

In [4]:
# from sklearn.metrics import ...
# from sklearn.metrics import ...

In [6]:
# ytest_pred =

In [7]:
# print("Mean absolute error", ...)
# print("Mean square error", ...)

#### Plot test predictions

In [8]:
# plt.scatter(ytest, ytest_pred)
# plt.xlabel('Measured')
# plt.ylabel('Predicted')

#### Create df of coefficients

In [9]:
# coefficients = pd.DataFrame(lr.coef_, index = boston.feature_names, columns = ['Coefficients'])
# coefficients

### LinearRegression with normalization

In [78]:
# lrn = LinearRegression(normalize = True)

### LinearRegression with PolynomialFeatures (n=2)

In [79]:
# from sklearn.preprocessing import PolynomialFeatures
# from sklearn.pipeline import make_pipeline
# lrpf2 = make_pipeline(PolynomialFeatures(2),
#                            LinearRegression())

### LinearRegression with PolynomialFeatures (n=3)

### For Ridge and Lasso try different alpha (e.g. 0.1, 1, 10, 100)

### Ridge with PolynomialFeatures (n=2)

In [ ]:
# from sklearn.linear_model import Ridge
# poly = make_pipeline(PolynomialFeatures(...),
#                            Ridge(alpha=...))

### Lasso with PolynomialFeatures (n=2)

In [ ]:
# from sklearn.linear_model import Lasso
# poly = make_pipeline(PolynomialFeatures(...),
#                            Lasso(alpha=..., tol=0.1))