In [1]:
%matplotlib inline
import pandas as pd

In [3]:
titles = pd.read_csv('data/titles.csv')
titles = titles[titles['year'] <= 2015]
titles.head()

                  title  year
0       Berlian si Etty  2013
1            The Mighty  1929
2  Little Black Spiders  2012
3   Twelve O'Clock High  1949
4                    D4  2011

In [4]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

### How many years have been "Batman years", with more Batman characters than Superman characters?

### Plot the number of actor roles each year and the number of actress roles each year over the history of film.

### Plot the number of actor roles each year and the number of actress roles each year, but this time as a kind='area' plot.

### Plot the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

### Plot the fraction of roles that have been 'actor' roles each year in the history of film.

### Plot the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.