In [2]:
import pandas as pd

In [3]:
titles = pd.read_csv('data/titles.csv')
titles = titles[titles['year'] <= 2015]
titles.head()

                  title  year
0       Berlian si Etty  2013
1            The Mighty  1929
2  Little Black Spiders  2012
3   Twelve O'Clock High  1949
4                    D4  2011

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

,Unnamed: 0,title,year,name,type,character,n
0,1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
2,26,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0
3,28,Los tarantos,1963,'El Viti',actor,Cantaor,20.0
4,35,Been Down So Long It Looks Like Up to Me,1971,Murray the 'K',actor,Himself,NaN

### How many movies are listed in the titles dataframe?

In [5]:
len(titles)

214244

### What are the earliest two films listed in the titles dataframe?

In [6]:
t=titles
t.sort_values('year').head(2)

                    title  year
94265          Miss Jerry  1894
97890  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [7]:
len(t[t.title == 'Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [8]:
len(t[t.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [9]:
t[t.title == 'Hamlet'].sort_values('year').head(1)

        title  year
30814  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
t[t.title == 'Treasure Island'].sort_values('year')

                  title  year
88839   Treasure Island  1918
88296   Treasure Island  1920
172873  Treasure Island  1934
66979   Treasure Island  1950
170132  Treasure Island  1972
107665  Treasure Island  1973
95964   Treasure Island  1985
33045   Treasure Island  1999

### How many movies were made in the year 1950?

In [9]:
len(t[t.year == 1950])

1114

### How many movies were made in the year 1960?

In [10]:
len(t[t.year == 1960])

1546

### How many movies were made from 1950 through 1959?

In [12]:
len(t[(t.year >= 1950) & (t.year <= 1959)])

12920

### In what years has a movie titled "Batman" been released?

In [11]:
t[t.title == 'Batman']

         title  year
57126   Batman  1943
214631  Batman  1989

### How many roles were there in the movie "Foxtrot"?

In [7]:
c=cast
c[c.title == 'Foxtrot'].year.value_counts()

1988    25
1976    10
Name: year, dtype: int64

### How many roles in the movie "Foxtrot" are NOT ranked by an "n" value?

In [16]:
c=cast
len(c[(c.title=='Foxtrot') & (c.n.isnull()==True)])

0

### But how many roles in the movie "Foxtrot" did receive an "n" value?

In [17]:
len(c[(c.title=='Foxtrot') & (c.n.notnull()==True)])

35

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [20]:
c=cast
c[(c.title=='North by Northwest') & (c.n.notnull()==True)].sort_values('n')

,title,year,name,type,character,n
368709,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
1392732,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
614238,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
1271552,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
147931,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
1236788,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
716403,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
538373,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1023000,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
762631,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
280567,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
958505,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
195936,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
635798,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
84126,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
583453,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [21]:
c = cast
c[(c.title == 'Sleuth') & (c.year == 1972)].sort_values('n')

,title,year,name,type,character,n
719682,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
135315,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
155694,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
617541,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1122272,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
610843,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [22]:
c = cast
len(c[(c.title == 'Hamlet') & (c.year == 1921)])

9

### How many "Hamlet" roles have been listed in all film credits through history?

In [23]:
c = cast
len(c[c.character == 'Hamlet'])

37

### How many people have played an "Ophelia"?

In [24]:
c = cast
len(c[c.character == "Ophelia"].name.unique())

30

### How many people have played a role called "The Dude"?

In [25]:
c = cast
len(c[c.character == "The Dude"].name.unique())

5

### How many people have played a role called "The Stranger"?

In [28]:
c = cast
len(c[c.character == "The Stranger"])

78

### How many roles has Sidney Poitier played throughout his career?

In [26]:
c = cast
len(c[c.name == "Sidney Poitier"])

41

### How many roles has Judi Dench played?

In [27]:
c = cast
len(c[c.name == "Judi Dench"])

13

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [33]:
c = cast
c[(c.name == "Cary Grant") & (c.year//10 == 194) & (c.n == 2)].sort_values('year')

                   title  year        name   type    character    n
368706  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
368716    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [34]:
c = cast
c[(c.name == "Cary Grant") & (c.year//10 == 194) & (c.n == 1)].sort_values('year')

,title,year,name,type,character,n
368731,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
368690,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
368733,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
368721,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
368735,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
368712,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
368681,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
368705,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
368713,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
368673,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
368708,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
368707,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
368710,Notorious,1946,Cary Grant,actor,Devlin,1.0
368727,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
368728,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
368704,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
368685,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
368694,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [91]:
c = cast
c = c[(c.type == "actor") & (c.year//10 == 195)]
len(c)

162489

### How many roles were available for actresses in the 1950s?

In [92]:
c = cast
c = c[(c.type == "actress") & (c.year//10 == 195)]
len(c)

57682

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [93]:
c = cast
c = c[(c.n == 1) & (c.year <= 1980)]
len(c)

65137

### How many non-leading roles were available through from the beginning of film history through 1980?

In [95]:
c = cast
c = c[(c.n != 1) & (c.year <= 1980)]
len(c)

1117601

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [33]:
c = cast
c = c[(c.n.isnull()) & (c.year <= 1980)]
len(c)

448345